*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Main Section  */
/*---------First Section----------*/
.sectionOne{
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: flex;   
}

.sectionOne_left{
  width: 100%;
  height: 140px;
  /* background-color: #2729b7; */
  display: flex; 
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-left:15%;
  margin-top: 30px;
  font-size: larger;
  letter-spacing: 1px;
  line-height: 30px;
}
.sectionOne_right{
  display: flex;
  justify-content: end;
  width: 22%;
  height: 180px;
  /* background-color: #1abe30; */
}

/* Image CSS  */
.img {
  height: 173px;
  width:  200px;
  border: 1px solid black;
  margin:5px;
}
.ImgBtn{
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(210, 208, 208);
}

/*---------Second Section(Professional Sumary)----------*/
.sectionTwo{
  height: 150px;
  width: 100%;
  /* background-color: #b92121; */
  margin-top: 10px;
  padding: 10px;
  line-height: 22px;
}

/*---------Third Section(Education)----------*/
.sectionThird{
  height: 300px;
  width: 100%;
  /* background-color: #b92121; */
  margin-top: 10px;
  padding: 10px;
  line-height: 22px;
}


/*---------Fourth Section(Project-1)----------*/
.sectionFourth {
  width: 100%;
  /* height: 450px; */
  /* background-color: red; */
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  line-height: 22px;
}
/* Project One Button  */
.project1Btn {
  height: 33px;
  width: 102px;
  border-radius: 15px;
  cursor: pointer;
}

/*---------Fifth Section(Project-2)----------*/
.sectionFifth{
  width: 100%;
  margin-top: 15px;
  /* background-color: red; */
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  line-height: 22px;
}
/* Project Two Button  */
.project2Btn {
  height: 33px;
  width: 102px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}

/*--------------Skill Section--------------*/
.skillsection {
  text-align: center;
  /* margin: 2rem; */
  margin: 10px;
  /* padding: 10px; */
}

.skillBtn {
  height: 33px;
  width: 102px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}

.skills {
  text-align: left;
}

/*--------------Hobby Section--------------*/
.hobby_section {
  text-align: center;
  /* margin: 2rem; */
  margin: 10px;
  /* padding: 10px; */
}

.hoby_btn {
  height: 33px;
  width: 102px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0px;
}

.my_hobby {
  text-align: left;
}
.my_hobby h3 {
  text-decoration:underline ;
}





