*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 78px;
    width: 100%;
    background-color: rgb(224, 240, 6);
    border: 1px solid black;
    text-align: center;
}
.name{
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
.maincontainer{
    text-align: center;
    width:100%;
    height: 500px;
    display: flex;
    background-color: brown;
    border: 1px solid black;
}

.left{
    width: 50%;
    height: 500px;
    display: flex;
    background-color: #10d6d6;
    border: 1px solid black;
   
}
.right{
    width: 50%;
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    /* background-color: #9b929b; */
    background: linear-gradient(to right, #FF9933, white, #138808);
    border: 1px solid black;
}

.section{
    text-align: center;
    width: 100%;
    height: 180px;
    background-color: #f244ef;
    border: 1px solid black;
}
.footer{
    text-align: center;
    width: 100%;
    height: 110px;
    background-color: #53d23a;
    border: 1px solid black;
}
.firststbox{
    background-color: #dd7b0b;
    padding: 10px;  
    margin: 10px;
    border: 1px solid black;
}
.secondbox{
    background-color: #fcfcfc;
    padding: 10px;  
    margin: 10px;
    border: 1px solid black;
}
.thirdbox{
    background-color: #1bff06;
    padding: 10px;  
    margin: 10px;
    border: 1px solid black;
}
.anubhab{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
