*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form_container{
  position: absolute;
  height: 350px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c7bebe;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}

.input1{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.input2{
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
.btns{
  display: flex;
  gap: 15px;
  /* padding: 10px; */
}
.btn1{
  padding: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
}
.btn2{
  padding: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
}
.btn3{
  padding: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
}
.btn4{
  padding: 20px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  font-weight: 600;
}
.btn5{
  padding: 10px;
  height: 40px;
  cursor: pointer;
}
