.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px; 
}

.loading-spinner {
  width: 100px;
  height: 100px;
  border: 6px solid #141212; 
  border-top: 6px solid #db6634; 
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

/* For Animation  */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
