/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.MainSection{
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #1dcad3;
}

/*------------Section One---------------*/
.section1{
  width: 50%;
  border: 2px solid black;
  align-items: center;
  height: 100vh;
  padding: 20px;
  position: relative;
  transform: 0.3s;
}
.color_picker1{
  height: 40px;
  width: 120px;
  margin: 5px;
  padding: 10px;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  border-radius: 15px;
}
.Reset1{
  height: 40px;
  width: 120px;
  background-color: deeppink;
  margin: 5px;
  padding: 10px;
  border: 2px solid black;
  color: white;
  cursor: pointer;
  transform: translateX(-50%);
  position: absolute;
  bottom: 20px;
  left: 50%;
  border-radius: 15px;
}




/*------------Section One---------------*/
.section2{
  width: 60%;
  height: 700px;
  align-items:'center'
}

.section2{
  margin-top: 30px;
  padding: 15px;
}
