*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   width: 100%;
   height: 740px;
   background-color: #d79999; 
   display: flex;
}

.component1{
    width: 65%;
    height: 740px;
    background-color: #25e189;
}
.component2{
    width: 35%;
    height: 740px;
    background: linear-gradient(to bottom,#008080, #74cac3 );
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* SIGN IN  */
.navbar{
    height: 100%;
    width: 1050px;
    background-color: white;
    display: flex;
    /* border: 1px solid black; */
}
.logo{
    height: 30px;
    width: 30px;   
}
.mylogo{
    display: flex;
    margin-top: 5px;
    margin-left:10px;
}
#name{
    font-size: large;
    margin-top: 10px;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.form{
    height: 699px;
    width: 1050px;
    background-color: white;
    /* border: 1px solid black;     */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
   position: relative;
   top: 25%;
   font-size:45px;
   font-family: 'Poppins', sans-serif;
}
.paragraph{
   position: relative;
   top: 25%;
   font-size:35px;
   font-family: 'Poppins', sans-serif; 
}
.or{
   position: relative;
   top: 25%;
   font-family: 'Poppins', sans-serif; 
   margin-top: 15px;
}

.input{
    position: relative;
    top: 25%;
    font-size:35px;
    font-family: 'Poppins', sans-serif;
}

.mail{
    margin-top: 30px;
    height: 45px;
    width:350px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: medium;
    background-color: rgb(234, 234, 234);
}
.password{
    margin-top: 20px;
    height: 45px;
    width:350px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: medium;
    background-color: rgb(234, 234, 234);
}
.btn{
    position: relative;
    top: 25%;
    font-size:35px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.btn2{
    cursor: pointer;
    height: 40px;
    width: 130px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    color: white;
    background-color: #4a9b80;
}

.icon{
   position: relative;
   top: 25%;
   font-family: 'Poppins', sans-serif; 
   display: flex;
   width: 100%;
   justify-content: space-evenly;
   margin-top: 5px;
   margin: 5px;
   padding: 5px;
}
.facebook{
    margin: 5px;
    height: 40px;
    margin-top: 5px;
    padding: 8px;
    width: 5%;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color:#1877F2;
    cursor: pointer;
}
.google{
    margin: 5px;
    width: 5%;
    padding: 8px;
    height: 40px;
    margin-top: 5px;
    background-color: #dc3d3d;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color:#f14e08;
    cursor: pointer;

}
.linkedin{
    margin: 5px;
    width: 5%;
    padding: 8px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    background-color:#0077B5;
    cursor: pointer;
}

.logo{
   font-size: medium; 
}
.paragraph{
    font-size: medium;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* SIGN UP  */
.close{
    /* margin-left: 96%; */
    margin-left:510px;
    color: aliceblue;
    cursor: pointer;
}
#heading{
    text-align: center;
    margin-top: 230px;
    font-display: row;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.description{
    margin-top: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: large;
}
.signupbtn{
    display: flex;
    justify-content: center;
    /* font-size:35px;
    font-family: 'Poppins', sans-serif; */
}
.click{
    cursor: pointer;
    height: 40px;
    width: 130px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 20px;
    color: black;
    background-color: #d0eae1;
    font-size: medium;
}

/* .signup{
    position: relative;
    overflow: hidden;
    z-index: 1;
} */

.circle1 {
    height: 230px;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: 200px;
    left: 5%;
    top: 38%;
    position: absolute;
    /* z-index: 2; */
}
.circle2{
    height: 180px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: 200px;
    left: 35%;
    top: 75%;
    position: absolute;
    /* z-index: 2; */
}
.circle3{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: 200px;
    /* left: 0%; */
    right: 60%;
    top: 80%;
    position: absolute;
    /* z-index: 2; */
}

.triangle {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 100px solid rgba(255, 255, 255, 0.1); 
    top: 10%;
    position: absolute;
    right: 80%;
}







