/* *{
    margin: 0;
    padding: 0;
}
.demo{
    height: 750px;
    width: 100%;
    background-color: #c52e2e;
}
.dark{
    background-color: black;
}
.light{
    background-color: white;
} */


/* :root{
    --text-color:black;
    --my-bg:linear-gradient()
}
h1{
    color: red;
    background-color: #0e819b;
} */